<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>commont_content</title>
</head>
<body>

<div id="common_content_section" th:remove="tag">
    <!-- warning model -->
    <div class="modal fade" tabindex="-1" role="dialog" id="global_warning_modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title red" id="warning_modal_title_h4"><i class="fa fa-warning"></i>&nbsp<span id="warning_modal_title"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="warning_modal_content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取 消</button>
                    <button id="btn_warning_modal_confirm" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- /warning model -->

    <!-- detail modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="datatable_info_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">详情查看</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled list-striped pricing-table-header" id="datatable_info_modal_list">
                        <!-- 内容 -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /detail modal -->
    <!-- /edit modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="datatable_edit_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="datatable_edit_modal_title">添加数据</h4>
                </div>
                <div class="modal-body" id="datatable_edit_modal_body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-success" name="datatable_btn_group" id="datatable_edit_modal_btn"><i class="fa fa-plus"></i> 添
                        加
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /edit modal -->
</div>



</body>
</html>