<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<title>room_type</title>
<div class="page-header">
    <h1>
        字典管理
        <small> 》字典信息管理</small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">字典列表</div>
        <div>
            <table id="dict_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var script = [null, "/static/custom/common/simple-table.js", null]
    $.ace_ajax_finish(script, function () {
        jQuery(function ($) {
            var dictTypes = /*[[${dictTypes}]]*/null; // 字典分类数据
            var _dictTypes = []; // 字典分类下拉框数据源
            if (dictTypes != null && dictTypes.length > 0) {
                for (var i = 0; i < dictTypes.length; i++) {
                    var typeName = dictTypes[i]['typeName'];
                    var id = dictTypes[i]['id'];
                    _dictTypes.push({'text': typeName, 'value': id});
                }
            } // 构建数据源

            var _table = new DataTablePlus({
                'targetId': 'dict_table',
                'columns': [
                    {
                        'name': 'typeName',
                        'title': '字典类型',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'select',
                        'data': _dictTypes,
                        'editName': 'dictType.id'
                    }, {
                        'name': 'dictMark',
                        'title': '字典标志',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    },
                    {
                        'name': 'dictValue',
                        'title': '字典值',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'remarks',
                        'title': '描述',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'textarea',
                        'maxLength': 50
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'dict/dictionary/data', // 删除提交地址
                    'edit': 'dict/dictionary/record', // 新增与修改提交地址
                    'data': 'dict/dictionary/data' // 数据拉取地址
                },
                'modal': {
                    'auto': true // 启用自动模式
                }, 'rules': {
                    'typeName': {
                        required: true
                    },
                    'dictMark': {
                        required: true
                    },
                    'dictValue': {
                        required: true
                    },
                    'remarks': {
                        required: true
                    }
                }, 'ajax': function (data) {
                    var columns = data['columns'];
                    var index = data['order'][0]['column'];
                    var columnName = columns[index]['name'];
                    if (columnName == "typeName") {
                        columnName = "d." + columnName;

                    } else {
                        columnName = "dt." + columnName;
                    } // 多对一时, 让后台能够正确执行hql语句
                    data['columns'][index]['name'] = columnName;
                    return data;
                }
            });
            _table.build(); // 创建表格
        })
    });
    /*]]>*/
</script>