<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<title>demo</title>
<style>
    .datatable-length-row {
        margin-top: 8px;
    }

    .datatable-plus {
        color: #7F879C;
    }

    .datatable-btn {
        margin: 0 2px 0 2px;
    }
</style>
</head>
<body>
<div class="page-header">
    <h1>
        DataTables实例
        <!--<small> 》 dataTableDemo</small>-->
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">数据列表</div>
        <div>
            <table id="datatable" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>
<!-- /row -->
<div class="page-header">
    <h1>
        警告框/提示框
        <!--<small> 》 dataTableDemo</small>-->
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <button type="button" class="btn btn-primary" id="btn_modal">警告框</button>
            <button type="button" class="btn btn-primary" id="btn_modal2">警告框2</button>
            <button type="button" class="btn btn-primary" id="btn_pnotify">提示框</button>
        </div>
    </div>
</div>


<div></div>
</body>
</html>
<script type="text/javascript">
    // var scripts =  [null, "static/plugins/dataTables/dist/jquery.dataTables.min.js",null] ;
    $.ace_ajax_finish(function () {
        jQuery(function ($) {
            var dataTable = new DataTablePlus({
                'targetId': '#datatable',
                'columns': [
                    {
                        'name': 'name',
                        'title': '名称'
                    }, {
                        'name': 'age',
                        'title': '年龄'
                    }, {
                        'name': 'username',
                        'title': '昵称'
                    }, {
                        'name': 'address',
                        'title': '地址'
                    }, {
                        'name': 'other',
                        'title': '其他'
                    }
                ],
                'dataUrl': 'demo/data'
            }); // 设置参数
            dataTable.build(); // 创建表格

            /**
             * 刷新表格
             */
            /*  function reloadTable() {
             dataTable.ajax.reload(function (json) {
             // 请求到的数据做相应的操作，如详情查看等
             }, true); // 刷新表格，分页信息不会重置
             }*/

            /**
             * 绑定警告框
             */
            $("#btn_modal").click(function () {
                Global.warning("danger样式", "确定要删除此信息吗？", "danger", function () {
                    console.log("删除...");
                });
            });
            /**
             * 绑定警告框2
             */
            $("#btn_modal2").click(function () {
                Global.warning("warning样式", "确定要离开此页面吗？", "warning", function () {
                    console.log("登出...");
                });
            });
            /**
             * 绑定提示框
             */
            $("#btn_pnotify").click(function () {
                Global.notify("success样式", "xxx成功", "success");
                Global.notify("error样式", "xxx失败", "error");
                Global.notify("warning样式", "xxx警告", "warning");
                Global.notify("info样式", "xxx通知", "info");
                Global.notify("dark样式", "xxx通知", "dark");
            });

        })
    });
</script>