<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:remove="tag">
<title>订单管理</title>

<div class="page-header">
	<h1>
		订单管理 <small> <i class="ace-icon fa fa-angle-double-right"></i>
			已订管理 </a>
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-primary" id="find-reserve-btn">
			<i class="ace-icon fa fa-eye bigger-120" />查看
		</button>
		<button class="btn btn-danger no-border" id="delete-reserve-btn">
			<i class="ace-icon fa fa-trash-o bigger-120" />删除
		</button>

		<div class="btn-group">
			<button class="btn btn-info no-border" id="search-reserve-btn"
				style="height: 42px">
				<i class="ace-icon fa fa-search bigger-120" />搜索
			</button>
			<button class="btn btn-info dropdown-toggle" id="toggle-search-id"
				style="height: 42px">
				<span class="ace-icon fa fa-caret-down icon-only bigger-120"></span>
			</button>
		</div>
		<!-- /.btn-group -->
	</div>
	<!-- 搜索局栏 -->
	<div class="col-xs-12" style="display: none;"
		id="show-search-reserve-div">
		<div class="space-2"></div>
		<form class="form-inline" role="form" id="search-reserve-form">

			<div class="form-group">
				<label for="search-serialNo">订单编号:</label> &nbsp;&nbsp;<input
					type="text" class="form-control input-sm" id="search-serialNo"
					name="serialNo" placeholder="如：201501" />
			</div>

			<div class="form-group">
				&nbsp;&nbsp;&nbsp;&nbsp; <label for="search-roomTypeId">房类型查询:</label>
				&nbsp;&nbsp; <select class="select2" name="roomTypeId"
					id="search-roomTypeId" data-placeholder="请选择..."
					style="padding: 0px; width: 160px;">
					<option value="">请选择</option>
					<option th:each="roomType : ${roomTypes}" th:value="${roomType.id}"
						th:text="${roomType.typeName}"></option>
				</select>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="form-group">
				<label for="search-guestRoomSerialNo">客房编号:</label> &nbsp;&nbsp; <input
					type="text" class="form-control input-sm"
					id="search-guestRoomSerialNo" name="guestRoomSerialNo"
					placeholder="如：201501" />
			</div>
			<p>
			<div class="form-group">
				<label for="search-reserveStatus">预订状态: </label> &nbsp;&nbsp; <select
					class="select2" name="reserveStatus" id="search-reserveStatus"
					data-placeholder="请选择..." style="padding: 0px;">
					<option value="">请选择</option>
					<option th:each="dict : ${@dictService.dictList('reserveStatus')}"
						th:value="${dict.dictMark}" th:text="${dict.dictValue}">正常</option>
				</select>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="form-group">
				<label for="search-customer">预订人: </label>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
					type="text" class="form-control input-sm" id="search-customer"
					name="customer" placeholder="如：201501" />
			</div>



		</form>
	</div>

	<div class="col-xs-12">
		<!-- jqGrid表格和分页 -->
		<table id="grid-table"></table>
		<div id="grid-pager"></div>
	</div>
</div>

<!-- 查看用户的modal -->
<div class="modal fade" id="show-reserve-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header table-header" style="padding: 8px">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true" class="white">&times;</span>
				</button>
				<h5 class="modal-title">订单信息</h5>
			</div>
			<div class="modal-body no-padding">
				<!-- 用户信息 -->
				<!-- 			<div class="profile-user-info profile-user-info-striped"
					style="width: 100%">
 -->
				<form class="form" id="show-reserve-form">
					<div class="profile-info-row">
						<div class="profile-info-name">订单编号</div>

						<div class="profile-info-value">
							<input type="text" name="serialNo" id="serialNo" readonly="true" />
						</div>
						<div class="profile-info-name">客房编号</div>

						<div class="profile-info-value">
							<input type="text" name="guestRoomSercialNo"
								id="show-guestRoomSercialNo" readonly="true" />
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">客房类型</div>

						<div class="profile-info-value">
							<input type="text" name="guestRoomType" id="show-guestRoomType"
								readonly="true" />
						</div>
						<div class="profile-info-name">押金</div>

						<div class="profile-info-value">
							<input type="text" name="deposit" id="deposit" readonly="true" />
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">预订人</div>

						<div class="profile-info-value">
							<input type="text" name="customer" id="customer" readonly="true" />
						</div>
						<div class="profile-info-name">证件类型</div>

						<div class="profile-info-value">
							<input type="text" name="cartificateType" id="cartificateType"
								readonly="true" />
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">证件号码</div>

						<div class="profile-info-value">
							<input type="text" name="cartificate" id="cartificate"
								readonly="true" />
						</div>
						<div class="profile-info-name">联系电话</div>

						<div class="profile-info-value">
							<input type="text" name="telPhone" id="telPhone" readonly="true" />
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">抵店时间</div>

						<div class="profile-info-value">
							<input type="text" name="reachTime" id="reachTime"
								readonly="true" />
						</div>
						<div class="profile-info-name">离店时间</div>

						<div class="profile-info-value">
							<input type="text" name="leaveTime" id="leaveTime"
								readonly="true" />
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">操作人员</div>

						<div class="profile-info-value">
							<input type="text" name="userName" id="show-userName"
								readonly="true" />
						</div>
						<div class="profile-info-name">会员</div>

						<div class="profile-info-value">
							<input type="text" name="memberName" id="show-memberName"
								readonly="true" />
						</div>
					</div>
					<div class="">
						<div class="profile-info-name" id="profile-info-textAreaName">备注</div>

						<div class="profile-info-value">
							<textarea class="" name="remarks" id="remarks"
								style="resize: none; padding-left: 0px;" readonly="true"></textarea>

						</div>

					</div>
				</form>
				<!-- 			</div> -->
			</div>
			<div class="modal-footer" style="padding: 8px">
				<button type="button" class="btn btn-white btn-default btn-round"
					data-dismiss="modal">
					<i class="ace-icon fa fa-times red2"></i> 关闭
				</button>
				<button type="button" class="btn btn-white btn-info btn-bold"
					data-dismiss="modal">
					<i class="ace-icon fa fa-check"></i> 确定
				</button>
			</div>
			<!--     modal-footer -->
		</div>
	</div>
</div>
<!-- /.modal -->

<!-- 编辑用户信息的modal -->
<div class="modal fade" id="edit-reserve-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header table-header" style="padding: 8px">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true" class="white">&times;</span>
				</button>
				<h5 class="modal-title">客房信息</h5>
			</div>
			<div class="modal-body no-padding-bottom">
				<!-- 用户信息 -->
				<form class="form" id="edit-guestroom-form">
					<input type="hidden" name="id" id="hidden-guestroom-id" />

					<!-- 修改表单提交的时候，需要用到这个input，添加的时候，需要去掉 -->
					<input type="hidden" name="_method" value="PUT" />
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-serialNo">订单编号:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="serialNo"
								id="edit-serialNo" />
						</div>
						<label class="control-label col-xs-2" for="edit-roomType">客房类型:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="guestRoomTypeName"
								id="edit-guestRoomTypeName" />

						</div>
					</div>

					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-status">客房编号:</label>
						<div class="col-xs-4">

							<input type="text" class="input-sm" name="guetRoomSerialNo"
								id="edit-guetRoomSerialNo" />
						</div>
						<label class="control-label col-xs-2" for="edit-name">押金:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="deposit"
								id="edit-deposit" />
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-price">预订人:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="customer"
								id="edit-customer" />
						</div>
						<label class="control-label col-xs-2" for="edit-discountPrice">证件类型:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="cartificateType"
								id="edit-cartificateType" readonly="readonly" />
						</div>



					</div>

					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-generalMemberPrice">证件号码:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="cartificate"
								id="edit-cartificate" readonly="readonly" />
						</div>
						<label class="control-label col-xs-2" for="edit-vipMemberPrice">联系电话:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="telPhone"
								id="edit-telPhone" readonly="readonly" />
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-generalMemberPrice">抵店时间:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="reachTime"
								id="edit-reachTime" readonly="readonly" />
						</div>
						<label class="control-label col-xs-2" for="edit-vipMemberPrice">离店时间:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="leaveTime"
								id="edit-leaveTime" readonly="readonly" />
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-generalMemberPrice">入住人数:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="peopleNum"
								id="edit-peopleNum" readonly="readonly" />
						</div>
						<label class="control-label col-xs-2" for="edit-vipMemberPrice">操作人员:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="userName"
								id="edit-userName" readonly="readonly" />
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-generalMemberPrice">会员:</label>
						<div class="col-xs-4">
							<input type="text" class="input-sm" name="memberName"
								id="edit-memberName" readonly="readonly" />
						</div>

					</div>
					<div class="row form-group">
						<label class="control-label col-xs-2 no-padding-right"
							for="edit-remarks">备注:</label>
						<div class="col-xs-10">

							<textarea class="form-control" name="remarks" id="edit-remarks"
								style="resize: none; padding: 0;"></textarea>

						</div>

					</div>

				</form>
			</div>
			<div class="modal-footer" style="padding: 8px">
				<button type="button" class="btn btn-white btn-default btn-round"
					data-dismiss="modal">
					<i class="ace-icon fa fa-times red2"></i> 关闭
				</button>
				<button type="button" class="btn btn-white btn-info btn-bold"
					id="save-for-update-btn">
					<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
				</button>
				<button type="button" class="btn btn-white btn-info btn-bold"
					id="save-for-add-btn">
					<i class="ace-icon fa fa-plus bigger-120 blue"></i> 新建
				</button>
			</div>
		</div>
	</div>
</div>
<!-- /.modal -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
        $.ace_ajax_finish(function() {
            jQuery(function ($) {

                      
               

                //鼠标悬停提示信息
                $('[data-rel=tooltip]').tooltip();
                $('[data-rel=popover]').popover({html:true});

                var grid_selector = "#grid-table"; //jqGrid表格
                var pager_selector = "#grid-pager"; //
                //resize to fit page size
                $(window).on('resize.jqGrid',function() {
                    $(grid_selector).jqGrid('setGridWidth',$(".page-content").width());
                })

                $(grid_selector).jqGrid({
                    url : "/roomer/reserve",//获取数据的url地址
                    datatype : "json", //获取数据的格式
                    mtype : "get", //请求数据的方式
                    colNames : [ 'id', '订单编号',
                        '客房编号', '客房类型', '预订状态' ,'预订人',
                        '联系电话' ],//表头
                    colModel : [
                                {
                                    name : 'id',
                                    index : 'id',
                                    key: true,
                                    hidden : true
                                },
                        {
                            name : 'serialNo',
                            index : 'serialNo',
                            align : 'center',
                            hidden : false
                        },
                        {
                            name : 'guestRoomSerialNo',
                            index : 'guestRoomSerialNo',
                            hidden : false,
                            align : 'center',
                            sortable : false,
       
                        },
                        {
                            name : 'typeName',
                            index : 'typeName',
                            align : 'center',
                            sortable : false,
              
                        },
                        
                        {
                            name : 'reserveStatus',
                            index : 'reserveStatus',
                            align : 'center',
                            
                            sortable : false,
                            formatter : function alamFormatter(cellvalue, options,row){
                            	var array = /*[[${@dictService.dictMap('reserveStatus')}]]*/ null;  // json格式的数组
                            	return(array[row.reserveStatus]);
                            }
                        },
                        {
                            name : 'customer',
                            index : 'customer',
                            align : 'center',
                            
                            sortable : false
                        },
                        {
                            name : 'telPhone',
                            index : 'telPhone',
                            align : 'center',
                            
                            sortable : false
                        }
                        ], //后端的数据
                    rowNum : 10,
                    rowList : [ 10, 20, 50 ],
                    pager : pager_selector,
                    sortname : 'serialNo',
                    viewrecords : true,
                    altRows : true, //设置隔行用不同的背景色区分开
                    sortorder : "desc",
                    width : "auto",
                    height : "auto",
                    //multiboxonly : true,
                    multiselect : true,
                    rownumbers : false,
                    caption : "订单列表",
                    loadComplete : function() {
                        var table = this;
                        setTimeout(function() {
                            //styleCheckbox(table);
                            //updateActionIcons(table);
                            updatePagerIcons(table);
                            //enableTooltips(table);
                        }, 0);
                    },
                }) //jqGrid
                $(window).triggerHandler('resize.jqGrid'); //初始化jqGrid大小

                //搜索右边下拉按钮
                $('#toggle-search-id').click(function() {
                    $('#show-search-reserve-div').toggle() //显示或隐藏搜索user的div
                })

                //重新加载jqgrid数据，根据输入项
                function reloadData() {
                    $(grid_selector).jqGrid('setGridParam', {
                        dataType : 'json',
                        postData : $('#search-reserve-form').serializeObject(),	//postData.接收的是一个对象
                        page : 1
                    }).trigger("reloadGrid"); //重新载入#
                }


                //搜索
                $('#search-reserve-btn').click(function() {
                    reloadData() ;
                })
                 //根据不同浏览器设置下拉框大小
                 var select2Width = judgeBrower(false) == 'chrome' ? '160px':'170px' ;
              //根据不同浏览器设置textarea大小
                 var textAreCols = judgeBrower(false) == 'chrome' ? '55':'60' ;
                 var editTextWidth = judgeBrower(false) == 'chrome' ? '455px':'468px' ;
                 var textWidth = judgeBrower(false) == 'chrome' ? '438px':'445px' ;
                 var padding=judgeBrower(false) == 'chrome' ? '10px':'20px' ;
                 
                 
                 //美化下拉框
                $(".select2").css('width', select2Width).select2({placeholder:"请选择",allowClear : true}) ;
               
                //美化编辑表单的textarea
                $("#edit-remarks").attr("cols",textAreCols);
                $("#edit-remarks").attr("rows",'6');
                $("#edit-remarks").css('width', editTextWidth);
            
                //美化查看表单的textarea
                $("#profile-info-textAreaName").css('padding-right', padding);
                $("#remarks").attr("cols",textAreCols);
                $("#remarks").attr("rows",'6');
                $("#remarks").css('width', textWidth);
                //查看用户信息
                $('#find-reserve-btn').click(function() {
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    if (selectedIds.length !== 1) {
                        showInfoMsg("请选择一条数据");
                        return false;
                    }
                    var id=$(grid_selector).jqGrid('getGridParam','selrow')	; //得到被选择行
                    var rowData = $(grid_selector).jqGrid('getRowData',id);
                    $.ajax({
                        url:"/roomer/reserve/"+rowData.id,
                        type : 'GET',
                        dataType : 'json',
                        success:function(data) {

                            $('#show-reserve-modal').modal()
                            fillform($('#show-reserve-form'),data.data) //填充表单
                            $('#show-guestRoomSercialNo').val(data.data.guestRoom.serialNo);
                            $('#show-guestRoomType').val(data.data.guestRoom.roomType.typeName);
                        
                              $('#show-userName').val(data.data.rator.name);
                              $('#show-memberName').val(data.data.member.name);
                        }
                    })
                })

                //新建用户信息modal 显示
                $('#add-user-btn').click(function(){
                    //清除错误验证
                    $('#edit-guestroom-form .form-group').removeClass('has-error');
                    $('#edit-guestroom-form').validate().resetForm() ;
                    $('#edit-guestroom-form')[0].reset() ;	//重置表单
                    $('#edit-serialNo').rules('add',validate_username_rule) ;	//开启username的校验
                    $('#edit-serialNo').attr('disabled',false) ;
                    $('.select2',$('#edit-guestroom-form')).trigger("change") //select2下拉框数据显示
                    $('#save-for-add-btn').show() ;	//显示新建按钮
                    $('#save-for-update-btn').hide() ;	//隐藏保存按钮
                    $('#edit-reserve-modal').modal();
                })

                //修改用户信息modal 显示
                $('#update-user-btn').click(function(){
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    if (selectedIds.length !== 1) {
                        showInfoMsg("请选择一条数据");
                        return false;
                    }
                    //清除错误验证
                    $('#edit-guestroom-form .form-group').removeClass('has-error');
                    $('#edit-guestroom-form').validate().resetForm() ;

                    $('#edit-guestroom-form')[0].reset() ;	//重置表单
                    $('#edit-serialNo').rules('remove') ;	//关闭username的校验
                    $('#edit-serialNo').attr('disabled',true) ;

                    //var id=$(grid_selector).jqGrid('getGridParam','selrow')	; //得到被选择行
                    //var rowData = $(grid_selector).jqGrid('getRowData',id);	//得到被选择行的数据
                    var rowData =  $(grid_selector).jqGrid('getRowData',selectedIds[0]) ;
                
                    $.ajax({
                        url:"/roomer/reserve/"+rowData.id,
                        type : 'GET',
                        dataType : 'json',
                        success:function(data) {
                        
                            $('#edit-guestroom-form')[0].reset() ;	//重置表单
                            showMsg4model(data)
                            fillform($('#edit-guestroom-form'),data.data) //填充表单
                           $('#edit-guetRoomSerialNo').val(data.data.guestRoom.serialNo);
                            $('#edit-guestRoomTypeName').val(data.data.guestRoom.roomType.typeName);
                        }
                    })
                    $('#save-for-add-btn').hide() ;	//隐藏保存按钮
                    $('#save-for-update-btn').show() ; //显示新建按钮
                    $('#edit-reserve-modal').modal();
                })


                //新建用户保存按钮
                $('#save-for-add-btn').click(function(){
                    if(!$('#edit-guestroom-form').valid()) {
                        return false ;
                    }
                    showLoading("正在提交数据，请稍后...") ;
                    $.ajax({
                        url:'/base/guestroom',
                        type:'POST',
                        dataType:'json',
                        data: $.param($('#edit-guestroom-form').serializeObject(['id','_method'])),
                        success:function(data) {
                    
                            showMsg4model(data,true) ;
                            $('#edit-reserve-modal').modal('hide') ;
                            reloadData();
                        }
                    })
                    hideLoading() ;
                })

                //保存修改用户按钮
                $('#save-for-update-btn').click(function(){
                    if(!$('#edit-guestroom-form').valid()) {
                        return false ;
                    }
                    showLoading("正在提交数据，请稍后...") ;
                    $.ajax({
                        url: '/roomer/reserve',
                        type: 'POST',
                        dataType:'json',
                        data: $.param($('#edit-guestroom-form').serializeObject()),
                        success:function(data){
                            showMsg4model(data,true);
                            $('#edit-reserve-modal').modal('hide') ;
                            reloadData();
                        }
                    })
                    hideLoading() ;
                })

                //点击删除按钮
                $('#delete-reserve-btn').click(function(){
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    
                    if (selectedIds.length <= 0) {
                        showInfoMsg("请选择数据");
                        return false;
                    }
                    bootbox.confirm("您确定要删除所选的用户数据吗？",function(result){
                        if(result) {
                            showLoading() ;
                            var idsParam = "ids="+selectedIds.join('&ids=') ;
                            $.ajax({
                                url: "/roomer/reserve",
                                type: "POST",
                                dataType: "JSON",
                                data: idsParam+"&_method=PATCH",
                                success: function(data) {
                                    showMsg4model(data,true) ;
                                    reloadData() ;
                                }
                            })
                            hideLoading();
                        }
                    })
                })             
            })
        })
    /*]]>*/
    </script>

</html>