<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:remove="tag">
    <title>会员管理</title>

    <div class="page-header">
        <h1>会员管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                会员管理
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
        
        	<button class="btn btn-primary" id="find-member-btn">
                <i class="ace-icon fa fa-eye bigger-120" />查看
            </button>

            <button class="btn btn-primary no-border" id="add-member-btn">
                <i class="ace-icon fa fa-plus bigger-120" />新建
            </button>
            
            <button class="btn btn-warning no-border" id="update-member-btn">
                <i class="ace-icon fa fa-pencil bigger-120" />修改
            </button>
            
            <button class="btn btn-danger no-border" id="delete-member-btn">
                <i class="ace-icon fa fa-trash-o bigger-120" />删除
            </button>
            
            <div class="btn-group">
                <button class="btn btn-info no-border" id="search-user-btn" style="height:42px">
                    <i class="ace-icon fa fa-search bigger-120" />搜索
                </button>
                <button class="btn btn-info dropdown-toggle" id="toggle-search-id" style="height:42px">
                    <span class="ace-icon fa fa-caret-down icon-only bigger-120"></span>
                </button>
            </div>
            <!-- /.btn-group -->
        </div>
        
        <div class="col-xs-12" style="display:none;" id="show-search-user-div">
            <div class="space-2"></div>
            <form class="form-inline" role="form" id="search-user-form">
                <div class="form-group">
                    <label for="search-name">会员姓名:</label>
                    <input type="text" class="form-control input-sm" id="search-name" name="name" placeholder="如：张三"/>
                </div>
            </form>
        </div>
        
        
        <div class="col-xs-12">
            <!-- jqGrid表格和分页 -->
            <table id="grid-table"></table>
            <div id="grid-pager"></div>
        </div>
    </div>





      
   
     <!-- 查看用户的modal -->
    <div class="modal fade" id="show-member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header table-header" style="padding: 8px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white">&times;</span>
                    </button>
                    <h5 class="modal-title">会员信息</h5>
                </div>
                <div class="modal-body no-padding-bottom">
                    <!-- 会员信息 -->
                    <form class="form" id="show-member-form">
                        <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-name">会员姓名:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="name" id="name"  disabled="true" />
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-mobilePhone">手机号码:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="mobilePhone" id="mobilePhone"  disabled="true" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-Sex">性别:</label>
                            <div class="col-xs-4">
                            <input type="text" class="input-sm" name="sex" id="sex"  disabled="true" />
                            
                                <!-- <select class="input-sm" name="Sex" id="edit-Sex" style="padding:0px;">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select> -->
                             </div>   
                                <label class="control-label col-xs-2" for="edit-eMail">邮箱号码:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="eMail" id="eMail"  disabled="true" />
                            </div>
                            
                        </div>
                        
                         <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-integrl">会员积分:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="integrl" id="integrl" value="0" disabled="true"/>
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-grade">会员级别:</label>
                            <div class="col-xs-4">
                            <input type="text" class="input-sm" name="grade" id="grade"  disabled="true" />
                                <!-- <select class="input-sm" name="grade" id="edit-grade" style="padding:0px;">
                                  <option th:each="dict : ${@dictService.dictList('grade')}" th:value="${dict.dictMark}" th:text="${dict.dictValue}">普通会员</option>
                                </select>  -->
                            </div>
                        </div>
                        
                         <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-address">住址:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="address" id="address"  disabled="true" />
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-serialNo">会员编号:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="serialNo" id="serialNo"  disabled="true" />
                            </div>
                        </div>
                        
                         <div class="row form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="lastCheckInTime"> 最后一次入住时间： </label>
						<div class="col-sm-8">
							<div class="input-group input-group-sm">
								<input type="text" id="lastCheckInTime" name="lastCheckInTime"
									class="form-control"  disabled="true" /> <span class="input-group-addon">
									<i class="ace-icon fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="lastReserveTime"> 最后一次预定时间： </label>
						<div class="col-sm-8">
							<div class="input-group input-group-sm">
								<input type="text" id="lastReserveTime" name="lastReserveTime"
									class="form-control"  disabled="true" /> <span class="input-group-addon">
									<i class="ace-icon fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
                        </form>

                </div>
                <div class="modal-footer" style="padding: 8px">
                    <button type="button" class="btn btn-white btn-default btn-round" data-dismiss="modal">
                        <i class="ace-icon fa fa-times red2"></i>
                        关闭
                    </button>
                    <button type="button" class="btn btn-white btn-info btn-bold" data-dismiss="modal">
                        <i class="ace-icon fa fa-check"></i>
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    
    

    

    <!-- 编辑用户信息的modal -->
    <div class="modal fade" id="edit-member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header table-header" style="padding: 8px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white">&times;</span>
                    </button>
                    <h5 class="modal-title">会员信息</h5>
                </div>
                <div class="modal-body no-padding-bottom">
                    <!-- 会员信息 -->
                    <form class="form" id="edit-member-form">
                        <input type="hidden" name="id" id="hidden-member-id"/>
                        <!-- 修改表单提交的时候，需要用到这个input，添加的时候，需要去掉 -->
                        <input type="hidden" name="_method" value="PUT" />
                        <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-name">会员姓名*:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="name" id="edit-name" />
                            </div>
                            
                             <label class="control-label col-xs-2" for="edit-mobilePhone">手机号码*:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="mobilePhone" id="edit-mobilePhone" />
                            </div>
                        </div>
                        
                        <!-- <div class="row form-group">
                            <div id="input-password-group">
                                <label class="control-label col-xs-2" for="edit-password">密码*:</label>
                                <div class="col-xs-4">
                                    <input type="password" class="input-sm" name="password" id="edit-password" value="123456"/>
                                </div>
                            </div>

                             <div id="reset-password-group">
                                <label class="control-label col-xs-2" for="reset-password-btn">重置密码:</label>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-sm btn-danger" id="reset-password-btn"><i class="ace-icon fa fa-refresh bigger-130"></i>重置</button>
                                </div>
                            </div> 


                        </div> -->

                        <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-Sex">性别:</label>
                            <div class="col-xs-4">
                                <select class="input-sm" name="sex" id="edit-sex" style="padding:0px;">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-eMail">邮箱号码:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="eMail" id="edit-eMail" />
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-integrl">会员积分:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="integrl" id="edit-integrl" value="0"/>
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-grade">会员级别:</label>
                            <div class="col-xs-4">
                                <!-- <input type="text" class="input-sm" name="grade" id="edit-grade" value="0"/> -->
                                
                                <select class="input-sm" name="grade" id="edit-grade" style="padding:0px;">
                                  <option th:each="dict : ${@dictService.dictList('grade')}" th:value="${dict.dictMark}" th:text="${dict.dictValue}">普通会员</option>
                                </select> 
                            </div>
                        </div>
                        
                        
                         <div class="row form-group">
                            <label class="control-label col-xs-2" for="edit-address">住址:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="address" id="edit-address" />
                            </div>
                            
                            <label class="control-label col-xs-2" for="edit-serialNo">会员编号:</label>
                            <div class="col-xs-4">
                                <input type="text" class="input-sm" name="serialNo" id="edit-serialNo" />
                            </div>
                        </div>
                        
                        
                        
                        <div class="row form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="lastCheckInTime"> 最后一次入住时间： </label>
						<div class="col-sm-8">
							<div class="input-group input-group-sm">
								<input type="text" id="edit-lastCheckInTime" name="lastCheckInTime"
									class="form-control" /> <span class="input-group-addon">
									<i class="ace-icon fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="lastReserveTime"> 最后一次预定时间： </label>
						<div class="col-sm-8">
							<div class="input-group input-group-sm">
								<input type="text" id="edit-lastReserveTime" name="lastReserveTime"
									class="form-control" /> <span class="input-group-addon">
									<i class="ace-icon fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>
                        

                        
                    </form>
                </div>
                <div class="modal-footer" style="padding: 8px">
                    <button type="button" class="btn btn-white btn-default btn-round" data-dismiss="modal">
                        <i class="ace-icon fa fa-times red2"></i>
                        关闭
                    </button>
                    <button type="button" class="btn btn-white btn-info btn-bold" id="save-for-update-btn">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        保存
                    </button>

                    <button type="button" class="btn btn-white btn-info btn-bold" id="save-for-add-btn">
                        <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                        新建
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <script type="text/javascript">



        $.ace_ajax_finish(function() {
            jQuery(function ($) {
            	
            	// 日期插件
				/* $("input[name='lastReserveTime']").datepicker({
					showOtherMonths : true,
					selectOtherMonths : false,
				});
				$("input[name='lastCheckInTime']").datepicker({
					showOtherMonths : true,
					selectOtherMonths : false,
				});
 				*/
 				
 				
				//日期插件
				$("input[name='lastReserveTime']").datetimepicker({
				startView:'day'
		
				});
 
				//日期插件
				$("input[name='lastCheckInTime']").datetimepicker({
				startView:'day'

				});

            	 var grid_selector = "#grid-table"; //jqGrid表格
                 var pager_selector = "#grid-pager"; //
               //resize to fit page size
                 $(window).on('resize.jqGrid',function() {
                     $(grid_selector).jqGrid('setGridWidth',$(".page-content").width());
                 })
                 
                 $(grid_selector).jqGrid({
                    url : "/base/member",//获取数据的url地址
                    datatype : "json", //获取数据的格式
                    mtype : "get", //请求数据的方式
                    colNames : [ 'id', '会员编号', '会员姓名', '性别',
                        '会员级别','会员积分','最后一次入住时间','最后一次预定时间',
                        '手机号码',  '住址',
                        '邮箱' ],//表头
                    colModel : [
                        {
                            name : 'id',
                            index : 'id',
                            hidden : true
                        },
                        {
                            name : 'serialNo',
                            index : 'serialNo',
                            align : 'center',
                            width : 80,
                            sortable : false
                        },
                        {
                            name : 'name',
                            index : 'name',
                            align : 'center',
                            width : 80,
                            sortable : false
                        },
                        {
                            name : 'sex',
                            index : 'sex',
                            align : 'center',
                            width : 40,
                            formatter : function alamFormatter(cellvalue, options,row) {
                                if (row.sex == "1") {
                                    return "男";
                                } else {
                                    return "女";
                                }
                            }  
                        },
                        {
                            name : 'grade',
                            index : 'grade',
                            align : 'center',
                            width : 80,
                            sortable : false,
                            formatter : function alamFormatter(cellvalue, options,row) {
                                if (row.grade == "gradeOrdinary") {
                                    return "普通会员";
                                } else if (row.grade == "gradeVip"){
                                    return "VIP会员";
                                }else {
                                	return "";
                                }
                            }
                        },
                        {
                            name : 'integrl',
                            index : 'integrl',
                            align : 'center',
                            width : 80,
                            sortable : false
                        },
                        {
                            name : 'lastCheckInTime',
                            index : 'lastCheckInTime',
                            align : 'center',
                            width : 80,
                            sortable : false
                        },
                        {
                            name : 'lastReserveTime',
                            index : 'lastReserveTime',
                            align : 'center',
                            width : 80,
                            sortable : false
                        },
                        {
                            name : 'mobilePhone',
                            index : 'mobilePhone',
                            hidden : true
                        }, 
                        {
                            name : 'address',
                            index : 'address',
                            hidden : true
                        },
                        {
                            name : 'eMail',
                            index : 'eMail',
                            hidden : true
                        } ], //后端的数据
                    rowNum : 8,
                    rowList : [ 10, 20, 50 ],
                    pager : pager_selector,
                    viewrecords : true,
                    altRows : true, //设置隔行用不同的背景色区分开
                    width : "auto",
                    height : "auto",
                    //multiboxonly : true,
                    multiselect : true,
                    rownumbers : false,
                    caption : "会员列表",
                    loadComplete : function() {
                        var table = this;
                        setTimeout(function() {
                            //styleCheckbox(table);
                            //updateActionIcons(table);
                            updatePagerIcons(table);
                            //enableTooltips(table);
                        }, 0);
                    }
                }) //jqGrid
                $(window).triggerHandler('resize.jqGrid'); //初始化jqGrid大小
                
                
                
              //搜索右边下拉按钮
                $('#toggle-search-id').click(function() {
                    $('#show-search-user-div').toggle() //显示或隐藏搜索user的div
                })
                
                 //重新加载jqgrid数据，根据输入项
                function reloadData() {
                    $(grid_selector).jqGrid('setGridParam', {
                        dataType : 'json',
                        postData : $('#search-user-form').serializeObject(),	//postData.接收的是一个对象
                        page : 1
                    }).trigger("reloadGrid"); //重新载入#
                }
                
                //搜索
                $('#search-user-btn').click(function() {
                    reloadData() ;
                })
                
                
                //查看用户信息
                $('#find-member-btn').click(function() {
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    if (selectedIds.length !== 1) {
                        showInfoMsg("请选择一条数据");
                        return false;
                    }
                    var id=$(grid_selector).jqGrid('getGridParam','selrow')	; //得到被选择行
                    var rowData = $(grid_selector).jqGrid('getRowData',id);
                    $('#show-member-modal').modal() ;
                    
                    fillform($('#show-member-form'),rowData) 
                })

            


                //新建用户信息modal 显示
                $('#add-member-btn').click(function(){
                    //清除错误验证
                    $('#edit-member-form .form-group').removeClass('has-error');
                    $('#edit-member-form').validate().resetForm() ;

                    $('#edit-member-form')[0].reset() ;	//重置表单
                    $('#edit-name').attr('disabled',false) ; 
                    $('#edit-integrl').attr('disabled',true) ; 
                    $('#edit-grade').attr('disabled',true) ; 
                    $('#edit-serialNo').attr('disabled',true) ; 
                    $('#edit-lastCheckInTime').attr('disabled',true) ; 
                    $('#edit-lastReserveTime').attr('disabled',true) ; 
                    $('#save-for-add-btn').show() ;	//显示新建按钮
                    $('#save-for-update-btn').hide() ;	//隐藏保存按钮
                    $('#input-password-group').show() ;	//显示输入密码组
                    $('#reset-password-group').hide() ;	//隐藏重置密码组
                    $('#edit-member-modal').modal();
                })
                
                
                //修改用户信息modal 显示
                $('#update-member-btn').click(function(){
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    if (selectedIds.length !== 1) {
                        showInfoMsg("请选择一条数据");
                        return false;
                    }
                    //清除错误验证
                    $('#edit-member-form .form-group').removeClass('has-error');
                    $('#edit-member-form').validate().resetForm() ;

                    $('#edit-member-form')[0].reset() ;	//重置表单
                    $('#edit-name').rules('remove') ;	//关闭name的校验
                    $('#edit-name').attr('disabled',true) ;
                    $('#edit-serialNo').attr('disabled',true) ; 
                    $('#edit-integrl').attr('disabled',false) ; 
                    $('#edit-grade').attr('disabled',false) ; 
                    $('#edit-lastCheckInTime').attr('disabled',false) ; 
                    $('#edit-lastReserveTime').attr('disabled',false) ; 

                    //var id=$(grid_selector).jqGrid('getGridParam','selrow')	; //得到被选择行
                    //var rowData = $(grid_selector).jqGrid('getRowData',id);	//得到被选择行的数据
                    var rowData =  $(grid_selector).jqGrid('getRowData',selectedIds[0]) ;
                    $.ajax({
                        url:"/base/member/"+rowData.id,
                        type : 'GET',
                        dataType : 'json',
                        success:function(data) {
                            $('#edit-member-form')[0].reset() ;	//重置表单
                            showMsg4model(data)
                            fillform($('#edit-member-form'),data.data) //填充表单
                        }
                    })
                    $('#save-for-add-btn').hide() ;	//隐藏保存按钮
                    $('#save-for-update-btn').show() ; //显示新建按钮
                    //$('#input-password-group').hide() ;	//隐藏输入密码组
                    //$('#reset-password-group').show() ;	//显示重置密码组
                    $('#edit-member-modal').modal();
                })


                //新建用户保存按钮
                 $('#save-for-add-btn').click(function(){
                    if(!$('#edit-member-form').valid()) {
                        return false ;
                    }
                    showLoading("正在提交数据，请稍后...") ;
                    $.ajax({
                        url:'/base/member',
                        type:'POST',
                        dataType:'json',
                        data: $.param($('#edit-member-form').serializeObject(['id','_method'])),
                        success:function(data) {
                            showMsg4model(data,true) ;
                            $('#edit-member-modal').modal('hide') ;
                            reloadData();
                        }
                    })
                    hideLoading() ;
                }) 
                
                
                 //保存修改用户按钮
                $('#save-for-update-btn').click(function(){
                	
                    if(!$('#edit-member-form').valid()) {
                        return false ;
                    }
                    
                    showLoading("正在提交数据，请稍后...") ;
                    $.ajax({
                        url: '/base/member',
                        type: 'POST',
                        dataType:'json',
                        data: $.param($('#edit-member-form').serializeObject()),
                        success:function(data){
                            showMsg4model(data,true);
                            $('#edit-member-modal').modal('hide') ;
                            reloadData();
                        }
                    })
                    hideLoading() ;
                })
                
                 //点击删除按钮
                $('#delete-member-btn').click(function(){
                    var selectedIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
                    if (selectedIds.length <= 0) {
                        showInfoMsg("请选择数据");
                        return false;
                    }
                    bootbox.confirm("您确定要删除所选的用户数据吗？",function(result){
                        if(result) {
                            showLoading() ;
                            var idsParam = "ids="+selectedIds.join('&ids=') ;
                            $.ajax({
                                url: "/base/member",
                                type: "POST",
                                dataType: "JSON",
                                data: idsParam+"&_method=PATCH",
                                success: function(data) {
                                    showMsg4model(data,true) ;
                                    reloadData() ;
                                }
                            })
                            hideLoading();
                        }
                    })
                })


                
                     //重置密码
               /*  $('#reset-password-btn').click(function(){
                    bootbox.confirm('您确定要重置密码吗？',function(result){
                        if(result) {
                            var Id = document.getElementById("hidden-member-id") ;
                            if(Id == null) {
                                showErrorMsg('用户不存在，请重新打开用户编辑窗口')
                            }
                            $.ajax({
                                url: '/base/member/password/'+Id.value,
                                type: 'post',
                                dataType : 'json',
                                data: {_method:'PATCH'},
                                success:function(data) {
                                    showMsg4model(data,true)
                                }
                            })	//ajax
                        }
                    })
                }) */


            


               


                
                //校验用户
                $('#edit-member-form').validate({
                    errorElement: 'div',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                     /*    password:{
                            required: true,
                            alphabetAndNum: true,	//只能数字或字母
                            rangelength: [5,15],
                        }, */
                        name: {
                            required: true,
                            rangelength: [1,15],
                        },
                        mobilePhone: {
                            required: true,
                            rangelength: [11,11],
                            number:true,
                        },
                        eMail: {
                        	email:true,
                        },
                    },

                    messages: {
                        /* password: {
                            required:'请输入密码',
                            alphabetAndNum:'请输入数字或字母'
                        }, */
                        name: {
                            required: '请输入会员名'
                        },
                        mobilePhone: {
                            required: '请输入手机号码'
                        }
                    },

                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                    },

                    success: function (e) {
                        $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    },
                }) ;

            })
        })

    </script>

</html>