<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<title>直播间管理</title>
<link rel="stylesheet" th:href="@{/static/custom/common/customProfile.css}"/>
<link rel="stylesheet" th:href="@{/static/plugins/css/customJqPaginator.css}"/>

<style>
    /*直播间块的样式 */
    .liveroom-chunk {
        margin-top: 20px!important;
        margin-right: 18px!important;
        border: 1px solid #b9b9b9!important;
        padding:4px;
    }

    /*直播间封面 */
    .liveroom-chunk .liveroom-coverImg {
        width: 280px;
        height: 180px;
    }

    /* 直播间块的简介信息 */
    .liveroom-chunk .liveroom-info-chunk {
        width:100%;
        float:left;
        padding:2px;
        font-size:14px;
    }


    /* 透明 */
    .transparent {
        background-color: transparent!important;
    }

    /*灰色*/
    .color-grey {
        color:grey;
    }

    /*白色*/
    .color-white {
        color:white;
    }

    .color-red {
        color:red;
    }

    .color-green {
        color: #18cb2d;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .size-13 {
        font-size: 13px;
    }

    .size-11 {
        font-size: 12px;
    }



</style>


<div class="page-header">
    <h1>直播管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            管理直播间界面
        </small>
    </h1>
</div>

<div class="row">

    <div class="col-xs-12">
        <div class="col-xs-1 col-xs-offset-7" style="width:50px;padding:0;">
            <button class="btn btn-info btn-sm" id="refresh_btn"><i class="ace-icon fa fa-refresh"></i></button>
        </div>
        <div class="col-xs-4" style="padding:0;">
            <input type="text" id="search_input" placeholder="主播账号|姓名|昵称、直播间号|名称" class="col-xs-10" th:value="${searchStr}">
            <span class="input-group-btn">
                <button type="button" id="search_btn" class="btn btn-purple btn-sm" data-placement="top">
                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                </button>
            </span>
        </div>
    </div>


    <div class="col-xs-12">
        <ul class="ace-thumbnails clearfix liveroomInfo-hold">

            <li class="liveroom-chunk">
                <a href="javascript:;" onclick="playLiveRoom()">
                    <img class="liveroom-coverImg" src="/static/ace/assets/images/gallery/thumb-4.jpg" />
                    <div class="text" >
                        <div class="inner float-left color-white">直播间号：201335020231</div>
                    </div>
                    <div class="text transparent">
                        <div class="inner">
                            <i class="ace-icon fa fa-play align-top bigger-225"></i>
                        </div>
                    </div>
                </a>
                <div class="liveroom-info-chunk">
                    <div>
                       <span class="color-grey">主播:</span>&nbsp;<span>王展城</span>
                        <span class="float-right"><i class="ace-icon fa fa-eye bigger-110"></i>&nbsp;<strong>111</strong></span>
                    </div>
                    <div>
                        <span class="color-grey">直播间:</span>&nbsp;<span>去年买了个表</span>
                        <div class="inline position-relative dropup float-right">
                            <button class="btn btn-minier btn-success dropup-toggle" data-toggle="dropdown" data-position="auto" aria-expanded="false">
                                <i class="ace-icon fa fa-caret-down icon-only bigger-130"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close" style="z-index: 9999">
                                <li>
                                    <a href="javascript:;" class="tooltip-info" data-rel="tooltip" title="详情">
											<span class="blue"><i class="ace-icon fa  fa-info-circle bigger-130"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="tooltip-success" data-rel="tooltip" title="解禁">
                                            <span class="green"><i class="ace-icon fa fa-check-square-o bigger-130"></i></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="tooltip-error" data-rel="tooltip" title="禁播">
                                            <span class="red"><i class="ace-icon fa fa-ban bigger-130"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div> <!-- /.col-xs-12-->

    <div class="col-xs-12 customBootstrap" style="margin-top: 20px;">
        <div class="col-xs-3" style="padding-top:20px;">
            <label>
                每页显示
                <select id="pageRows" style="width: 70px;">
                    <option value="6" th:selected="${rows} ==6">6</option>
                    <option value="9" th:selected="${rows} ==9">9</option>
                    <option value="15" th:selected="${rows} == 15">15</option>
                    <option value="24" th:selected="${rows} == 24">24</option>
                </select> 条记录
            </label>

        </div>
        <div class="col-xs-8">
            <ul class="pagination" id="page"></ul>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="play_live_model">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="show_play_room_name">直播间观看</h4>
                </div>
                <div class="modal-body" style="padding:1px;">
                    <div id="id_test_video" style="width:585px;height: 432px;margin: 0 auto;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /detail modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="liveroom_info_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">详情查看</h4>
                </div>
                <div class="modal-body">
                    <!-- 内容 -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt="暂无图片" style="width:150px;height: 150px;" id="show_headImgUrl" src=""/>
                        </span>

                        </div><!-- /.col -->
                        <div class="col-xs-12 col-sm-8">
                            <div class="profile-user-info">

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 直播间号 </div>
                                    <div class="profile-info-value">
                                        <span id="show_liveroom_num"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 直播间名 </div>
                                    <div class="profile-info-value">
                                        <span id="show_liveroom_name"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 直播分类 </div>
                                    <div class="profile-info-value">
                                        <span id="show_category_name"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 主播账号 </div>
                                    <div class="profile-info-value">
                                        <span id="show_account"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 主播昵称 </div>
                                    <div class="profile-info-value">
                                        <span id="show_nickname"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 性别 </div>
                                    <div class="profile-info-value">
                                        <span id="show_sex">  </span>
                                    </div>
                                </div>



                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 房间标签 </div>
                                    <div class="profile-info-value">
                                        <span id="show_room_label"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 最高在线人数 </div>
                                    <div class="profile-info-value">
                                        <span id="show_historyMaxOnlineCount">  </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 个性签名 </div>
                                    <div class="profile-info-value">
                                        <span id="show_description"></span>
                                    </div>
                                </div>


                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /detail modal -->



</div>  <!-- /.row -->


<script type="text/javascript" th:inline="javascript">

    //当前页变量，刷新的时候用
    /*<![CDATA[*/
    var extCurrentPage = /*[[${page == null? 1: page}]]*/1 ;
    /*]]>*/


    //播放直播的方法
    function playLiveRoom(liveRoomUrl, roomName, playFlag) {
        if(!playFlag) {
            showWarnMsg("禁播或离线状态的直播间不能播放！") ;
            return ;
        }
        $("#id_test_video").empty() ;    //先清除之前的播放器
        //播放器
        var  player = new TcPlayer('id_test_video', {
            "rtmp": liveRoomUrl ,
            "autoplay" : true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
            "live": true,
            "coverpic" : "/upload/20170409/20170409617176.jpg",
            "width" :  '576', //视频的显示宽度，请尽量使用视频分辨率宽度
            "height" : '432', //视频的显示高度，请尽量使用视频分辨率高度
        }) ;
        console.log(player) ;
        $("#show_play_room_name").text(roomName) ;
        $("#play_live_model").modal() ;



    }

    //查看直播间详情
    function showLiveRoomInfo(liveRoomId) {
        console.log(liveRoomId) ;
        $.ajax({
            url: '/live/liveroom/'+ liveRoomId ,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if(data.status == 0) {
                    showError("服务器忙！") ;
                    return ;
                }
                var row = data.data ;
                $("#show_headImgUrl").prop("src",row.headImgUrl) ;
                $("#show_liveroom_num").text(row.roomNum) ;
                $("#show_liveroom_name").text(row.roomName) ;
                $("#show_category_name").text(row.categoryName) ;
                $("#show_account").text(row.account) ;
                $("#show_nickname").text(row.nickname) ;
                $("#show_sex").text(row.sex == "1"? "男": "女") ;
                $("#show_room_label").text(row.roomLabel) ;
                $("#show_historyMaxOnlineCount").text(row.historyMaxOnlineCount) ;
                $("#show_description").text(row.description) ;
            },
            error: function () {
                showError("网络异常！") ;
            }
        })

        $("#liveroom_info_modal").modal() ;

    }

    //禁播
    function banLiveRoom(liveRoomId) {
        console.log("禁播--> "+ liveRoomId) ;
        Global.warning("您确定禁播该直播间吗？", "禁播后该主播无法进行直播", "warning", function(){
            $.ajax({
                url: '/live/liveroom/'+ liveRoomId ,
                type: 'POST',
                dataType: 'json',
                data: {
                    _method: "PATCH",
                    liveRoomBanFlag: true
                },
                success: function (data) {
                   if(data.status ==1) {
                       showSuccessMsg("禁播成功！") ;
                   } else {
                       showErrorMsg("禁播失败！") ;
                   }
                    toMain("/live/liveroom/refresh", {refresh: $("#search_input").val(), page: extCurrentPage, rows: $("#pageRows").val()} ) ;
                },
                error: function () {
                    showError("网络异常！") ;
                }
            })
        })
    }

    //解除禁播
    function removeBanLiveRoom(liveRoomId) {
        console.log("解除禁播--> "+ liveRoomId) ;
        Global.warning("您确定解除该直播间的禁播状态吗？", "解除禁播后该主播可进行直播", "warning", function(){
            $.ajax({
                url: '/live/liveroom/'+ liveRoomId ,
                type: 'POST',
                dataType: 'json',
                data: {
                    _method: "PATCH",
                    liveRoomBanFlag: false
                },
                success: function (data) {
                    if(data.status ==1) {
                        showSuccessMsg("解除禁播成功！") ;
                    } else {
                        showErrorMsg("解除禁播失败！") ;
                    }
                    toMain("/live/liveroom/refresh", {refresh: $("#search_input").val(), page: extCurrentPage, rows: $("#pageRows").val()} ) ;
                },
                error: function () {
                    showError("网络异常！") ;
                }
            })
        })
    }

    var scripts = [null, "/static/plugins/js/jqPaginator.min.js","/static/plugins/js/tcPlayer.js", null];
    $.ace_ajax_finish(scripts, function() {
        jQuery(function ($) {

            $('[data-rel="tooltip"]').tooltip({placement: "left"}); //直播块中的按钮悬浮提示
            //加载直播间的数据
            function loadLiveRoomData(currentPage) {
                $.ajax({
                    url: '/live/liveroom',
                    type: 'GET',
                    data: {
                        page: currentPage,
                        rows: $("#pageRows").val(),
                        searchStr: $.trim($("#search_input").val())
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data == null) {
                            showInfoMsg("暂时没有新主播信息！") ;
                            return ;
                        }
                        $(".liveroomInfo-hold").empty();    //先清空直播间信息
                        $.each(data.rows, function(index, row){
                            var playFlag = row.liveFlag && row.banLiveFlag ;    //能否播放的标志
                            var liveStatusTemplate ;    //显示直播状态的模板
                            var banLiveTemplate ;   //更改播放状态的模板
                            if(row.banLiveFlag) {   //禁播
                                liveStatusTemplate =   "<span class='float-right color-red'><i class='ace-icon fa fa-ban bigger-110 '></i>&nbsp;<strong>禁播</strong></span></div><div>" ;
                            } else if(row.liveFlag) {   //在线
                                liveStatusTemplate = "<span class='float-right'><i class='ace-icon fa fa-eye bigger-110 color-green'></i>&nbsp;<strong>"+ row.onlineCount +"</strong></span></div><div>" ;
                            } else {
                                liveStatusTemplate = "<span class='float-right size-11'><i class='ace-icon fa fa-eye-slash bigger-120 color-grey'></i>&nbsp;离线</span></div><div>" ;
                            }

                            if(row.banLiveFlag) {
                                banLiveTemplate = "<li><a href='javascript:;' class='tooltip-success' data-rel='tooltip' title='解除禁播' onclick='removeBanLiveRoom(\""+ row.liveroomId +"\")'>"
                                           + "<span class='green'><i class='ace-icon fa fa-check-circle-o bigger-130'></i></span></a></li>" ;
                            } else {
                                banLiveTemplate =  "<li><a href='javascript:;' class='tooltip-error' data-rel='tooltip' title='禁播'  onclick='banLiveRoom(\""+ row.liveroomId +"\")'>"
                                           + "<span class='red'><i class='ace-icon fa fa-ban bigger-130'></i></span></a></li>" ;
                            }

                            var template ="<li class='liveroom-chunk'><a href='javascript:;' onclick='playLiveRoom(\""+row.liveRoomUrl+"\",\""+row.roomName+"\","+playFlag+")'>"
                                +"<img class='liveroom-coverImg' src="+row.liveRoomCoverUrl+"/> <div class='text'> <div class='inner float-left color-white'>直播间号："+row.roomNum+"</div></div>"
                                +"<div class='text transparent'><div class='inner'> <i class='ace-icon fa fa-play align-top bigger-225'></i></div></div></a>"
                                +"<div class='liveroom-info-chunk'><div><span class='color-grey size-13'>主播:</span>&nbsp;<span>"+row.nickname+"</span>"
                                +liveStatusTemplate
                                +"<span class='color-grey size-13'>直播间:</span>&nbsp;<span>"+row.roomName+"</span>"
                                +"<div class='inline position-relative dropup float-right'>"
                                +"<button class='btn btn-minier btn-success dropup-toggle' data-toggle='dropdown' data-position='auto' aria-expanded='false'>"
                                +"<i class='ace-icon fa fa-caret-down icon-only bigger-130'></i>"
                                +"</button>"
                                +"<ul class='dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close'>"
                                +"<li><a href='javascript:;' class='tooltip-info' data-rel='tooltip' title='详情' onclick='showLiveRoomInfo(\""+row.liveroomId+"\")'><span class='blue'>"
                                +"<i class='ace-icon fa  fa-info-circle bigger-130'></i></span></a></li>"
                                + banLiveTemplate
                                +"</ul></div></div></div></li>" ;

                            $(".liveroomInfo-hold").append(template);
                        })

                    },
                    error: function () {
                        showErrorMsg('网络连接异常')
                    }
                })
            }



            /*<![CDATA[*/
            //分页
            var $page = $('#page').jqPaginator({
                totalPages: /*[[${page == null? 1: page}]]*/1,
                visiblePages: 6,
                currentPage: /*[[${page == null? 1: page}]]*/1,
                onPageChange: function (currentPage, type) {
                    extCurrentPage = currentPage ;
                    loadLiveRoomData(currentPage) ;
                }
            });
            /*]]>*/

            //点击刷新
            $("#refresh_btn").click(function(){
                toMain("/live/liveroom/refresh", {refresh: $("#search_input").val(), page: extCurrentPage, rows: $("#pageRows").val()} ) ;
            })

            //改变每个显示条目
            $("#pageRows").change(function () {
                toMain("/live/liveroom/refresh", {refresh: $("#search_input").val(), page: 1, rows: $("#pageRows").val()} ) ;
            })

        })
    })








</script>