<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>mobile_user</title>
</head>
<div class="page-header">
    <h1>
        直播管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            移动端用户管理
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">移动端用户列表</div>
        <div>
            <table id="mobile_user_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>
<!-- detail modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="mobile_user_info_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header table-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">详情查看</h4>
            </div>
            <div class="modal-body">
                <!-- 内容 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-4 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt="暂无图片" style="width:150px;height: 150px;" name="info-headImgUrl" src=""/>
                        </span>

                        <div class="space space-4"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>主播身份：</label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <input name="info-anchorFlag" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" disabled/>
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>锁定状态：</label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    <input name="info-lockFlag" class="ace ace-switch ace-switch-4 btn-empty"
                                           type="checkbox" disabled/>
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-12 col-sm-8">
                        <div class="profile-user-info" id="profile-user-info">
                        </div>
                        <!--<div class="hr hr-8 dotted"></div>-->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /detail modal -->

<!-- edit modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="mobile_user_edit_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header table-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mobile-user-edit-modal-title">添加记录</h4>
            </div>
            <div class="modal-body" id="mobile-user-edit-modal-body">
                <form class="form-horizontal" role="form" id="mobile-user-form">
                    <div class="form-group" name="account">
                        <label class="col-sm-3 control-label no-padding-right"> 账户</label>
                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="password" name="account" class="width-100" data-placeholder="请选择..."/>
                                <input type="hidden" name="member.id"/>
                            </span>

                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            <span name="account"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="form-group" name="password">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                            密码
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="password" name="password" class="width-100"/>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            <span class="red" name="password"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                            昵称
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="text" name="nickname" class="width-100"/>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline"></div>
                    </div>
                    <div class="form-group" name="email">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                            邮箱
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="email" name="email" class="width-100"/>
                                 <i class="ace-icon fa  fa-envelope"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline"><span name="email"></span></div>
                    </div>
                    <div class="form-group" name="mobileNumber">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                            电话
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="tel" name="mobileNumber" class="width-100"/>
                                <i class="ace-icon glyphicon glyphicon-earphone"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline"><span name="mobileNumber"></span></div>
                    </div>
                    <div class="form-group" name="lockFlag">
                        <label class="col-sm-3 control-label no-padding-right"> 锁定用户
                        </label>
                        <div class="col-sm-6">
                            <div class="switch">
                                <label>
                                    <input name="lockFlag" class="ace ace-switch ace-switch-4 btn-empty"
                                           type="checkbox">
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button type="button" class="btn btn-success" id="mobile-user-edit-modal-btn"><i class="fa fa-plus"></i>
                    添 加
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /edit modal -->


<script th:inline="javascript">
    /*<![CDATA[*/
    $.ace_ajax_finish(function () {
        jQuery(function ($) {

            $("input[name='account']").select2({
                ajax: {
                    url: "school/member/realName",
                    async: true,
                    dataType: 'json',
                    delay: 250,
                    data: function (searchVal) {
                        return {'searchVal': searchVal};
                    },
                    results: function (data) {
                        return {
                            results: data
                        };
                    }/*,
                     cache: true*/ // 设置缓存
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // 处理转义字符
                minimumInputLength: 2, // 最小输入字符
                /*       maximumSelectionLength:10,*/ // 最大输入字符
                formatResult: function (repo) {
                    repo.text = repo.memberNo
                    return repo.text;
                }, // 显示至下拉框中的可选信息
                formatSelection: function (repo) {
                    repo.selected = true;
                    $("input[name='member.id']").val(repo.id);
                    $("input[name='account']").val(repo.text);
                    return repo.text;
                }, // 设置选中值
                allowClear: true
            });
            /**
             * 校验表单
             */
            var rules = {
                password: {
                    required: true,
                    alphabetAndNum: true,
                    rangelength: [6, 15]
                },
                account: {
                    required: true
                },
                email: {
                    email: true
                },
                mobileNumber: {
                    digits: true,
                    fixedLength: 11
                }
            };
            // 开启检验

            $("#mobile-user-form").validate({
                messages: {
                    maxlength: $.validator.format("请输入长度小于{0}的字符串"),
                    minlength: $.validator.format("请输入长度大于{0}的字符串")
                },
                rules: rules,
                onkeyup: false,
                onclick: false,
                ignore: [],
                debug: false, // 是否关闭表单提交功能
                errorPlacement: function (error, element) {
                    var name = element.attr("name");
                    var $span = $("span[name='" + name + "']");
                    error.appendTo($span);
                }, // 指定错误信息提示位置
                success: function (label) {
                    var $span = label.parent();
                    var name = $span.attr("name");
                    var $div = $("div[name='" + name + "']");
                    $("span[name='" + name + "'] > i").remove(".glyphicon-remove"); // 清除图标
                    $div.removeClass("has-error"); // 清除样式
                    label
                    var rule = rules[name] || null;
                    if (rule != null) {
                        var isRequired = rule['required'] || false;
                        if (isRequired) {
                            $("span[name='" + name + "'] > span").detach(".red"); // 去重
                            $("span[name='" + name + "']").prepend('<span class="red" id="required_hint">*</span>');
                        }
                    }
                },// 指定检验完成后的样式
                highlight: function (element, errorClass, validClass) {
                    var name = element.name;
                    var $span = $("span[name='" + name + "']");
                    var $div = $("div[name='" + name + "']");
                    $("span[name='" + name + "'] > span").detach(".red"); // 清除*字符
                    $("span[name='" + name + "'] > i").remove(".glyphicon-remove"); // 去重
                    $span.prepend('<i class="glyphicon glyphicon-remove red"></i> ');
                    $div.addClass("has-error"); // 添加错误样式
                }, // 检验出错
                unhighlight: function (element, errorClass, validClass) {
                    var name = element.name;
                    var $div = $("div[name='" + name + "']");
                    $("span[name='" + name + "] > i").remove(".glyphicon-remove"); // 清除图标
                    $div.removeClass("has-error"); // 清除样式
                } // 检验正常
            });


            /**
             * 用于编辑的字段
             */
            var editColumns = {
                'memberId': 'input',
                'account': 'input',
                'password': 'input',
                'nickname': 'input',
                'email': 'input',
                'mobileNumber': 'input',
                'lockFlag': 'switch'
            };

            var _table = new DataTablePlus({
                'targetId': 'mobile_user_table',
                'columns': [
                    {
                        'name': 'account',
                        'title': '账号',
                        'show': true,
                        'inputType': 'text'
                    }, {
                        'name': 'nickname',
                        'title': '昵称',
                        'show': true,
                        'inputType': 'text'
                    },
                    {
                        'name': 'realName',
                        'title': '姓名',
                        'show': true,
                    }, {
                        'name': 'mobileNumber',
                        'title': '电话',
                        'show': true,
                    }, {
                        'name': 'anchorFlag',
                        'title': '主播身份',
                        'show': true,
                    }, {
                        'name': 'registerTime',
                        'title': '注册时间',
                        'show': true,
                    }
                ],
                'columnsDefs': [
                    {
                        "targets": 5,
                        "render": function (data, type, full, meta) {
                            var str = (data == true) ? '是' : '否';
                            return str; // 创建选择框
                        }
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'live/mobileUser', // 删除提交地址
                    'data': 'live/mobileUser/data' // 数据拉取地址
                },
                'ajax': function (d) {
                    var columns = d['columns'];
                    for (var i = 0; i < columns.length; i++) {
                        var column = columns[i];
                        var name = column['name'];
                        if (name == "className") {
                            name = "s.grade.className";
                        } else if (name == "memberNo" || name == "realName") {
                            name = "s." + name;
                        } else {
                            name = "mu." + name;
                        }
                        columns[i]['name'] = name;
                    }
                    d['columns'] = columns; // 字段名称加工以满足后台查询语句排序用
                    return d;
                },
                'editAjax': function (d) {
                    /*  var birthday = d['birthday'];
                     d['birthday'] = birthday + " 00:00:00"; // 更改日期格式*/
                    return d;
                },
                'modal': {
                    'auto': false,
                    'clickCallBack': function (call) {
                        var btnType = call['btnType'];
                        var data = call['data'];


                        switch (btnType) {
                            case 'info':
                                var headImgUrl = data['headImgUrl'];
                                if (headImgUrl == null) {
                                    headImgUrl = "/static/ace/assets/avatars/profile-pic.jpg"
                                }
                                $("img[name='info-headImgUrl']").attr('src', headImgUrl);
                                var $modal = $("#mobile_user_info_modal");
                                $modal.modal(); // 显示详情modal
                                var spanName = {
                                    'memberNo': '成员编号',
                                    'nickname': '昵称',
                                    'realName': '姓名',
                                    'lastLoginTime': '最后登录时间',
                                    'lastLoginIp': '最后登录ip',
                                    'email': '邮箱',
                                    'mobileNumber': '手机号码',
                                    'memberType': '成员类型',
                                    'className': '班级名称',
                                    'sex': '性别',
                                    'age': '年龄',
                                    'birthday': '生日',
                                    'anchorFlag': '主播身份',
                                    'lockFlag': '是否锁定',
                                    'registerTime': '注册时间'
                                }; // 标签名称
                                var $div = $("#profile-user-info");
                                $div.empty(); // 清空
                                for (var key in spanName) {
                                    $div.append('<div class="profile-info-row">');
                                    var val = data[key];
                                    switch (key) {
                                        case 'className':
                                            if (val == null) {
                                                val = "无";
                                            }
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><span>' + val + '</span></div>');
                                            break;
                                        case 'mobileNumber':
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><i class="glyphicon glyphicon-earphone blue"></i> <span>' + val + '</span></div>');
                                            break;
                                        case 'memberType':
                                            if (val == "tea") {
                                                val = "教师";
                                            }
                                            if (val == "stu") {
                                                val = "学生";
                                            }
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><span class="label label-info arrowed-in-right arrowed">' + val + '</span></div>');
                                            break;
                                        case 'sex':
                                            if (val == "1") {
                                                val = "男";
                                            }
                                            if (val == "0") {
                                                val = "女";
                                            }
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><span>' + val + '</span></div>');
                                            break;
                                        case 'email':

                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><i class="fa fa-envelope blue"></i> <span>' + val + '</span></div>');
                                            break;
                                        case 'birthday':
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><i class="fa fa-calendar blue"></i> <span>' + val + '</span></div>');

                                            break;

                                        case 'realName':
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><span class="blue">' + val + '</span></div>');
                                            break;
                                        case 'anchorFlag':
                                            if (val) {
                                                $("input[name='info-" + key + "']").prop("checked", true);
                                            } else {
                                                $("input[name='info-" + key + "']").prop("checked", false);
                                            }
                                            break;
                                        case 'lockFlag':
                                            if (val) {
                                                $("input[name='info-" + key + "']").prop("checked", true);
                                            } else {
                                                $("input[name='info-" + key + "']").prop("checked", false);
                                            }
                                            break;
                                        default:
                                            if (val == null) {
                                                val = "无";
                                            }
                                            $div.append('<div class="profile-info-name">' + spanName[key] + '</div>');
                                            $div.append('<div class="profile-info-value"><span>' + val + '</span></div>');
                                            break;
                                    }
                                    $div.append('</div>');
                                }
                                break; // 详情按钮
                            case 'create':
                                $("#mobile-user-edit-modal-title").text("添加记录");
                                var $btn = $("#mobile-user-edit-modal-btn");
                                $btn.removeClass("btn-primary"); // 清除样式
                                $btn.empty();
                                $btn.addClass("btn-success");
                                $btn.append('<i class="fa fa-plus"></i> 添 加'); // 调整样式
                                $("#mobile_user_edit_modal").modal(); // 显示modal
                                $("input[name='account']").unbind("change").bind("change", function () {
                                    $(this).valid(); // 重新校验
                                    $("label[class='error']").text(""); // 清除错误信息
                                });
                                for (var name in editColumns) {
                                    var inputType = editColumns[name];
                                    switch (inputType) {
                                        case 'switch':
                                            if (name == "lockFlag") {
                                                $("div[name='" + name + "']").hide(); // 隐藏锁定用户编辑项
                                            } else {
                                                $("input[name='" + name + "']").attr("value", "0");
                                                $("input[name='" + name + "']").prop('checked', false);
                                            }
                                            $("input[name='" + name + "']").unbind("click").bind("click", function () {
                                                var val = $(this).val();
                                                if (val == "1") {
                                                    $(this).attr('value', '0');
                                                    $(this).prop('checked', false);
                                                } else {
                                                    $(this).attr('value', '1');
                                                    $(this).prop('checked', true);
                                                }
                                            }); // 置换按钮状态
                                            break;
                                        default:
                                            if (name == "account" || name == "password") {
                                                $("div[name='" + name + "']").show(); // 显示账户和密码编辑项
                                                $("input[name='" + name + "']").val("");
                                            } else {
                                                if (name == "memberId") {
                                                    name = "member.id";
                                                }
                                                $("input[name='" + name + "']").val("");
                                            }
                                            break;
                                    }
                                }
                                break; // 添加按钮
                            case 'update':
                                $("#mobile-user-edit-modal-title").text("修改记录");
                                var $btn = $("#mobile-user-edit-modal-btn");
                                $btn.removeClass("btn-success"); // 清除样式
                                $btn.empty();
                                $btn.addClass("btn-primary");
                                $btn.append('<i class="fa fa-edit"></i> 修 改'); // 调整样式
                                $("#mobile_user_edit_modal").modal(); // 显示modal
                                $("input[name='account']").unbind("change").bind("change", function () {
                                    $(this).valid(); // 重新校验
                                    $("label[class='error']").text(""); // 清除错误信息
                                });
                                for (var name in editColumns) {
                                    var inputType = editColumns[name];
                                    var val = data[name];
                                    switch (inputType) {
                                        case 'switch':
                                            if (name == "lockFlag") {
                                                $("div[name='" + name + "']").show();
                                            } // 显示锁定用户编辑项
                                            if (val) {
                                                $("input[name='" + name + "']").attr("value", "1");
                                                $("input[name='" + name + "']").prop('checked', true);
                                            } else {
                                                $("input[name='" + name + "']").attr("value", "0");
                                                $("input[name='" + name + "']").prop('checked', false);
                                            }
                                            $("input[name='" + name + "']").unbind("click").bind("click", function () {
                                                var val = $(this).val();
                                                if (val == "1") {
                                                    $(this).attr('value', '0');
                                                    $(this).prop('checked', false);
                                                } else {
                                                    $(this).attr('value', '1');
                                                    $(this).prop('checked', true);
                                                }
                                            }); // 置换按钮状态
                                            break;
                                        default:
                                            if (name == "account" || name == "password") {
                                                $("div[name='" + name + "']").hide(); // 隐藏账户和密码编辑项
                                                $("input[name='" + name + "']").val("abcd123456"); // 为隐藏项目设置默认值以通过校验
                                            } else {
                                                if (name == "memberId") {
                                                    name = "member.id";
                                                }
                                                $("input[name='" + name + "']").val(val);
                                            }
                                            break;
                                    }
                                }
                                break;// 修改按钮

                        }
                        /**
                         * 绑定提交按钮
                         */
                        $("#mobile-user-edit-modal-btn").unbind("click").bind("click", function () {
                            var isValid = $("#mobile-user-form").valid();
                            var isCreate = $(this).is('.btn-success');
                            if (!isValid) {
                                return false;
                            }
                            var mobileUserDate = {};
                            for (var name in editColumns) {
                                var inputType = editColumns[name];
                                var val;
                                if (isCreate) {
                                    // 添加按钮
                                    switch (inputType) {
                                        case 'switch':
                                            if ($("input[name='" + name + "']").val() == "1") {
                                                val = true;
                                            } else {
                                                val = false;
                                            }
                                            break;
                                        default:
                                            if (name == 'memberId') {
                                                name = 'member.id';
                                            }
                                            val = $("input[name='" + name + "']").val();
                                            break;
                                    }
                                    if (name != 'lockFlag') {
                                        mobileUserDate[name] = val;
                                    }

                                } else {
                                    // 修改按钮

                                    switch (inputType) {
                                        case 'switch':
                                            if ($("input[name='" + name + "']").val() == "1") {
                                                val = true;
                                            } else {
                                                val = false;
                                            }
                                            break;
                                        default:
                                            if (name == 'memberId') {
                                                name = 'member.id';
                                            }
                                            val = $("input[name='" + name + "']").val();
                                            break;
                                    }
                                    if (name != 'account' && name != 'password') {
                                        mobileUserDate[name] = val;
                                    }
                                }
                            }
                            if (!isCreate)
                                mobileUserDate['id'] = data['id'];
                            var postType = (isCreate) ? 'post' : 'put'; // 提交类型
                            postMobileUserData(mobileUserDate, postType)// 提交数据
                            $("#mobile_user_edit_modal").modal('hide');// 关闭模态框
                        }); // 按钮点击事件


                    }
                }
            });
            var dataTableApi = _table.build(); // 创建表格
            function postMobileUserData(data, type) {
                if (type == 'put') {
                    data['_method'] = 'put'
                }
                console.log("提交的数据--->" + $.param(data));
                $.ajax({
                    type: "POST",
                    url: "live/mobileUser",
                    data: $.param(data),
                    success: function (msg) {
                        var option = (type == "post") ? "添加" : "修改";
                        if (msg['status'] == 1) {
                            Global.notify("操作提示：", option + "成功！", "success");
                            dataTableApi.ajax.reload(function (json) {
                                // 请求到的数据做相应的操作，如详情查看等
                            }, true); // 刷新表格，分页信息重置
                        } else {
                            Global.notify("操作提示：", option + "失败，" + msg['message'], "error");
                        }
                    }
                });
            }
        });
    });

    /*]]>*/
</script>
