<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>grade</title>
</head>
<div class="page-header">
    <h1>
        校园管理
        <small> 》班级管理</small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">班级列表</div>
        <div>
            <table id="grade_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $.ace_ajax_finish(function () {
        jQuery(function ($) {
            var majors = /*[[${majors}]]*/null; // 专业数据
            var _majors = []; // 专业下拉框数据源
            for (var i = 0; i < majors.length; i++) {
                var name = majors[i]['name'];
                var id = majors[i]['id'];
                _majors.push({'text': name, 'value': id});
            }
            var _table = new DataTablePlus({
                'targetId': 'grade_table',
                'columns': [
                    {
                        'name': 'majorName',
                        'title': '专业名称',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'select',
                        'editName': 'major.id',
                        'data': _majors // 数据源
                    },
                    {
                        'name': 'classNo',
                        'title': '班级号',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text',
                        'type':'integer'
                    }, {
                        'name': 'gradeNo',
                        'title': '年级号',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text',
                        'type':'integer'
                    }, {
                        'name': 'className',
                        'title': '班级名称',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'createTime',
                        'title': '创建时间',
                        'show': true,
                        'detail': true,
                        'edit': false,
                    },
                    {
                        'name': 'enableFlag',
                        'title': '启用状态',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'switch',
                        'detailRender': function (data) {
                            var str = '';
                            if (data) {
                                str = "启用中";
                            } else {
                                str = "未启用";
                            }
                            return str;
                        }
                    }
                ],
                'columnsDefs': [
                    {
                        "targets": 6,
                        "render": function (data, type, full, meta) {
                            var str = (data == true) ? '启用中' : '未启用';
                            return str; // 创建选择框
                        }
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'school/grade', // 删除提交地址
                    'edit': 'school/grade', // 新增与修改提交地址
                    'data': 'school/grade/data' // 数据拉取地址
                },
                'modal': {
                    'auto': true // 启用自动模式
                }, 'rules': {
                    'classNo': {
                        required: true,
                        number:true
                    },
                    'gradeNo': {
                        required: true,
                        number:true
                    },
                    'className': {
                        required: true
                    },
                    'majorName': {
                        required: true
                    }
                },
                'ajax': function (d) {
                    var columns = d['columns'];
                    for (var i = 0; i < columns.length; i++) {
                        var column = columns[i];
                        var name = column['name'];
                        if (name == "majorName") {
                            name = "m.name";
                        } else {
                            name = "g." + name;
                        }
                        columns[i]['name'] = name;
                    }
                    d['columns'] = columns; // 字段名称加工以满足后台查询语句排序用
                    return d;
                }
            });
            _table.build(); // 创建表格
        });
    });
    /*]]>*/
</script>