<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>major</title>
</head>
<div class="page-header">
    <h1>
        校园管理
        <small> 》专业管理</small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">专业列表</div>
        <div>
            <table id="major_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $.ace_ajax_finish(function () {
        jQuery(function ($) {

            var departments = /*[[${departments}]]*/null; // 系部数据
            var _departments = []; // 系部下拉框数据源
            for (var i = 0; i < departments.length; i++) {
                var name = departments[i]['name'];
                var id = departments[i]['id'];
                _departments.push({'text': name, 'value': id});
            }
            var _table = new DataTablePlus({
                'masterPrefix': 'm',
                'targetId': 'major_table',
                'columns': [
                    {
                        'name': 'departmentName',
                        'title': '所属系部',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'select',
                        'editName': 'department.id',
                        'prefix': 'd',
                        'data': _departments // 数据源
                    },
                    {
                        'name': 'code',
                        'title': '专业编码',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'name',
                        'title': '专业名称',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'description',
                        'title': '描述',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'textarea',
                        'maxLength': 50
                    }, {
                        'name': 'createTime',
                        'title': '创建时间',
                        'show': true,
                        'detail': true,
                        'edit': false,
                    }, {
                        'name': 'enableFlag',
                        'title': '启用状态',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'switch',
                        'detailRender': function (data) {
                            var str = '';
                            if (data) {
                                str = "启用中";
                            } else {
                                str = "未启用";
                            }
                            return str;
                        }
                    }
                ],
                'columnsDefs': [
                    {
                        "targets": 6,
                        "render": function (data, type, full, meta) {
                            var str = (data == true) ? '启用中' : '未启用';
                            return str; // 创建选择框
                        }
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'school/major', // 删除提交地址
                    'edit': 'school/major', // 新增与修改提交地址
                    'data': 'school/major/data' // 数据拉取地址
                },
                'modal': {
                    'auto': true // 启用自动模式
                }, 'rules': {
                    'code': {
                        required: true
                    },
                    'name': {
                        required: true
                    },
                    'departmentName': {
                        required: true
                    }
                }
            });
            _table.build(); // 创建表格
        })
    });
    /*]]>*/
</script>