<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>member</title>
</head>
<div class="page-header">
    <h1>
        校园管理
        <small> 》成员管理</small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">成员列表</div>
        <div>
            <table id="member_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $.ace_ajax_finish(function () {
        jQuery(function ($) {
            var grades = /*[[${grades}]]*/null; // 专业数据
            var _grades = []; // 专业下拉框数据源
            for (var i = 0; i < grades.length; i++) {
                var name = grades[i]['className'];
                var id = grades[i]['id'];
                _grades.push({'text': name, 'value': id});
            }
            var _table = new DataTablePlus({
                'targetId': 'member_table',
                'columns': [
                    {
                        'name': 'memberNo',
                        'title': '成员编号',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'realName',
                        'title': '姓名',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'sex',
                        'title': '性别',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'radio',
                        'data': [{
                            'text': '男',
                            'value': '1'
                            /* 'checked': true*/
                        }, {
                            'text': '女',
                            'value': '0'
                        }],
                        'detailRender': function (data) {
                            if (data == "1") {
                                data = "男";
                            } else {
                                data = "女";
                            }
                            return data;
                        }
                    }, {
                        'name': 'age',
                        'title': '年龄',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'spinner',
                        'type': 'integer',
                        'value': 0,
                        'step': 1,
                        'min': 0,
                        'max': 25
                    }, {
                        'name': 'birthday',
                        'title': '生日',
                        'show': false,
                        'detail': true,
                        'edit': true,
                        'inputType': 'datepicker'
                    }, {
                        'name': 'memberType',
                        'title': '成员类型',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'radio',
                        'data': [
                            {
                                'text': '学生',
                                'value': 'stu',
                                'checked': true,
                            }, {
                                'text': '教师',
                                'value': 'tea'
                            }
                        ],
                        'detailRender': function (data) {
                            if (data == "tea") {
                                return "教师";
                            } else {
                                return "学生";
                            }
                        }
                    }, {
                        'name': 'className',
                        'title': '班级名称',
                        'show': false,
                        'detail': true,
                        'edit': true,
                        'inputType': 'select',
                        'editName': 'grade.id',
                        'data': _grades, // 数据源
                        'detailRender': function (data) {
                            if (data == null) {
                                return "无";
                            } else {
                                return data;
                            }
                        },
                        'editName': 'grade.id'
                    },
                    {
                        'name': 'outDate',
                        'title': '是否过期',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'switch',
                        'value': "0",
                        'detailRender': function (data) {
                            var str = '';
                            if (data) {
                                str = "过期";
                            } else {
                                str = "未过期";
                            }
                            return str;
                        }
                    }, {
                        'name': 'registerDate',
                        'title': '注册时间',
                        'show': true,
                        'detail': true,
                        'edit': false
                    }
                ],
                'columnsDefs': [
                    {
                        "targets": 3,
                        "render": function (data, type, full, meta) {
                            var str = (data == '0') ? '女' : '男';
                            return str; // 创建选择框
                        }
                    },
                    {
                        "targets": 5,
                        "render": function (data, type, full, meta) {
                            var str = (data == 'stu') ? '学生' : '老师';
                            return str; // 创建选择框
                        }
                    },
                    {
                        "targets": 6,
                        "render": function (data, type, full, meta) {
                            var str = (data == true) ? '过期' : '未过期';
                            return str; // 创建选择框
                        }
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'school/member', // 删除提交地址
                    'edit': 'school/member', // 新增与修改提交地址
                    'data': 'school/member/data' // 数据拉取地址
                },
                'modal': {
                    'auto': true // 启用自动模式
                },
                'rules': {
                    'memberNo': {
                        required: true
                    },
                    'realName': {
                        required: true
                    },
                    'birthday': {
                        required: true
                    }
                },
                'ajax': function (d) {
                    var columns = d['columns'];
                    for (var i = 0; i < columns.length; i++) {
                        var column = columns[i];
                        var name = column['name'];
                        if (name == "className") {
                            name = "m.grade.className";
                        } else {
                            name = "m." + name;
                        }
                        columns[i]['name'] = name;
                    }
                    d['columns'] = columns; // 字段名称加工以满足后台查询语句排序用
                    var searchVal = d['search']['value'];
                    if (searchVal == "教师" || searchVal == "师" || searchVal == "教") {
                        d['search']['value'] = "tea";
                    }
                    if (searchVal == "学生" || searchVal == "学" || searchVal == "生") {
                        d['search']['value'] = "stu";

                    } // 替换搜索关键字
                    return d;
                },
                'editAjax': function (d) {
                    var birthday = d['birthday'];
                    d['birthday'] = birthday + " 00:00:00"; // 更改日期格式
                    return d;
                }
            });
            _table.build(); // 创建表格
        });
    });
    /*]]>*/
</script>
