<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>student</title>
</head>
<div class="page-header">
    <h1>
        校园管理
        <small> 》学生管理</small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">学生列表</div>
        <div>
            <table id="student_table" class="table table-striped table-bordered lTable-font">
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $.ace_ajax_finish(function () {
        jQuery(function ($) {
            var grades = /*[[${grades}]]*/null; // 专业数据
            var _grades = []; // 专业下拉框数据源
            for (var i = 0; i < grades.length; i++) {
                var name = grades[i]['className'];
                var id = grades[i]['id'];
                _grades.push({'text': name, 'value': id});
            }
            var _table = new DataTablePlus({
                'targetId': 'student_table',
                'columns': [
                    {
                        'name': 'className',
                        'title': '班级名称',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'select',
                        'editName': 'grade.id',
                        'data': _grades // 数据源
                    },
                    {
                        'name': 'sNo',
                        'title': '学号',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'realName',
                        'title': '姓名',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'text'
                    }, {
                        'name': 'sex',
                        'title': '性别',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'radio',
                        'data': [{
                            'text': '男',
                            'value': '1'
                           /* 'checked': true*/
                        }, {
                            'text': '女',
                            'value': '0'
                        }]
                    }, {
                        'name': 'age',
                        'title': '年龄',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'spinner',
                        'type': 'integer',
                        'value': 0,
                        'step': 1,
                        'min': 0,
                        'max': 25
                    }, {
                        'name': 'birthday',
                        'title': '生日',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'datepicker'
                    },
                    {
                        'name': 'outDate',
                        'title': '是否过期',
                        'show': true,
                        'detail': true,
                        'edit': true,
                        'inputType': 'switch',
                        'detailRender': function (data) {
                            var str = '';
                            if (data) {
                                str = "离校";
                            } else {
                                str = "在读";
                            }
                            return str;
                        }
                    }, {
                        'name': 'registerDate',
                        'title': '注册时间',
                        'show': true,
                        'detail': true,
                        'edit': false
                    }
                ],
                'columnsDefs': [
                    {
                        "targets": 7,
                        "render": function (data, type, full, meta) {
                            var str = (data == true) ? '离校' : '在读';
                            return str; // 创建选择框
                        }
                    }
                ],
                'responseArguments': {
                    'successMsgCode': 'status',
                    'successCode': 1,
                    'errorMsgName': 'message'
                }, // 服务器响应参数
                'url': {
                    'delete': 'school/student', // 删除提交地址
                    'edit': 'school/student', // 新增与修改提交地址
                    'data': 'school/student/data' // 数据拉取地址
                },
                'modal': {
                    'auto': true // 启用自动模式
                },
                'rules': {
                    'sNo': {
                        required: true
                    },
                    'realName': {
                        required: true
                    },
                    'className': {
                        required: true
                    },
                    'birthday': {
                        required: true
                    }
                },
                'ajax': function (d) {
                    var columns = d['columns'];
                    for (var i = 0; i < columns.length; i++) {
                        var column = columns[i];
                        var name = column['name'];
                        if (name == "className") {
                            name = "g.className";
                        } else {
                            name = "s." + name;
                        }
                        columns[i]['name'] = name;
                    }
                    d['columns'] = columns; // 字段名称加工以满足后台查询语句排序用
                    return d;
                },
                'editAjax': function (d) {
                    var birthday = d['birthday'];
                    d['birthday'] = birthday + " 00:00:00"; // 更改日期格式
                    return d;
                }
            });
            _table.build(); // 创建表格
        });
    });
    /*]]>*/
</script>
